<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Units left:{{units}}</ion-title>
</ion-navbar>

<ion-content padding class="bg">
  <ion-card>
    <img src="img/score.png">
      <ion-item class="cardBg item-border-bottom">
        <ion-row>
          <ion-col width-80>
              Go for <ion-badge> {{scorepoints}}</ion-badge>  points
          </ion-col>
          <ion-col width-20>
            <ion-badge>{{scoreUnits}}</ion-badge> units
          </ion-col>    
        </ion-row>  
      </ion-item>
    <ion-item class="cardBg item-border-bottom">
      <ion-row>
        <ion-col width-20>         
            <img src="{{flag1}}">        
        </ion-col>        
        <ion-col width-60>
          <ion-row>
            <ion-col width=43>
              <ion-item class="input-box">
                <ion-input class="scoreBox" type="tel" [(ngModel)]="team1score" (change)="scoreAction('t1',team1score)">0</ion-input>        
              </ion-item>
            </ion-col>
            
            <ion-col width=6 class="scoreDivider">
              :
            </ion-col>
                        
            <ion-col width=43>
              <ion-item class="input-box">
                <ion-input class="scoreBox" type="tel" [(ngModel)]="team2score" (change)="scoreAction('t2',team2score)">0</ion-input>
              </ion-item>
            </ion-col>      
          </ion-row>
        </ion-col>        
        <ion-col width-20>
           <img src="{{flag2}}">
        </ion-col>
      </ion-row>
     </ion-item>   
                
    <ion-item class="cardBg">
      <ion-row>
        <ion-col width-20>
          <button block (click)="addScore()">+</button>
        </ion-col>
        <ion-col width-60>
           <button block>Go</button>
        </ion-col>
        <ion-col width-20>
           <button block (click)="delScore()">-</button> 
        </ion-col>    
      </ion-row>
    </ion-item>  
  </ion-card>
  
  <ion-card>
     <img src="img/win.png">
    <ion-item class="cardBg item-border-bottom">
      <ion-row>
          <ion-col width-80>
              Go for <ion-badge> {{winpoints}}</ion-badge>  points
          </ion-col>
          <ion-col width-20>
            <ion-badge>{{winUnits}}</ion-badge> units
          </ion-col>    
        </ion-row>
    </ion-item>
    
    <ion-item class="cardBg item-border-bottom">
      <ion-row>
        <ion-col width-20>          
            <img src="{{flag1}}">          
           <ion-item class="cardBg">
            <ion-checkbox secondary checked="true" [(ngModel)]="homewin" (change)="winAction(1)"></ion-checkbox>
          </ion-item>
        </ion-col>
        
        <ion-col width-60>
          <ion-row>
            <ion-col width-33>
            </ion-col>
            <ion-col width-33>
               <img src="{{flag1}}">
               <ion-item class="cardBg">
              <ion-checkbox checked="true" (change)="winAction(3)"></ion-checkbox>
              </ion-item>   
            </ion-col>
            <ion-col width-33>
            </ion-col>    
          </ion-row> 
        </ion-col>
        
        <ion-col width-20>
           <img src="{{flag2}}">
           <ion-item class="cardBg">
           <ion-checkbox secondary (change)="winAction(2)"></ion-checkbox>
          </ion-item>
        </ion-col>     
      </ion-row>  
    </ion-item>
    
    <ion-item class="cardBg">
      <ion-row>
        <ion-col width-20>
          <button block (click)="addWin()">+</button>
        </ion-col>
        <ion-col width-60>
           <button block>Go</button>
        </ion-col>
        <ion-col width-20>
           <button block (click)="delWin()">-</button> 
        </ion-col>    
      </ion-row>
    </ion-item> 
  </ion-card>
  
  <ion-card>
        <img src="img/scorer.png">
    <ion-item class="cardBg item-border-bottom">
      <ion-row>
          <ion-col width-80>
              Go for <ion-badge> {{scorerPoints}}</ion-badge>  points
          </ion-col>
          <ion-col width-20>
            <ion-badge>{{scorerUnits}}</ion-badge> units
          </ion-col>    
        </ion-row>
    </ion-item>    
    <ion-card-content class="cardBg">
       <ion-list>
          <ion-item-sliding  *ngFor="#player of players1"">
            <ion-item class="cardBg">
              <ion-avatar item-left>
                  <img src="{{flag1}}">
              </ion-avatar>
              <h3>{{player.lname}}</h3>
            </ion-item>
            <ion-item-options>
              <button primary (click)="addScorer($event, player)">
                +
              </button>
              <button danger>
                -
              </button>
              <button secondary>
                <ion-icon name="call"></ion-icon>
                Go
              </button>
            </ion-item-options>        
          </ion-item-sliding>
          <ion-item-sliding *ngFor="#player of players2">
            <ion-item class="cardBg">
              <ion-avatar item-left>
                  <img src="{{flag2}}">
              </ion-avatar>
              <h3>{{player.lname}}</h3>
            </ion-item>
            <ion-item-options>
              <button primary (click)="addScorer($event, player)">
                +
              </button>
              <button danger>
                -
              </button>
              <button secondary (click)="saveScorer($event, player)">
                <ion-icon name="call"></ion-icon>
                Go
              </button>
            </ion-item-options>        
          </ion-item-sliding>
      </ion-list>
     </ion-card-content>      
  </ion-card>
</ion-content>
